services:
  redis:
    image: redis:8.2-alpine
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      CELERY_BROKER_URL: redis://redis:6379
      HOST: 0.0.0.0
    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
      - mailhog
  worker:
    build: .
    command: celery -A commerceproject worker -l INFO
    environment:
      CELERY_BROKER_URL: redis://redis:6379
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_USE_SSL: ${EMAIL_USE_SSL}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
    depends_on:
      - redis
      - mailhog
