<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microservices</title>
  </head>
  <body>
    <main
      x-data="{ products: [], cart: [], }"
      x-init="products = await (await fetch('/api/checkout/demo-products/')).json()"
    >
      <section>
        <h1>Product Order</h1>
        <p>Add Items to Cart</p>
        <div>
          <template x-for="product in products" :key="product.id">
            <ul
              x-data="{
              quantity: 1, 
              addToCart(product, qtty) {
                const cartItemExists = cart.map(item => item.id).includes(product.id)

                if(cartItemExists === false) {
                  this.quantity = 1
                  return cart.push({...product, quantity: qtty})
                }
              }
            }"
            >
              <li x-text="`Title: ${product.title}`"></li>
              <li x-text="`Price (in cents): ${product.price_cents}`"></li>
              <li x-text="`Stock: ${product.stock}`"></li>
              <li x-text="`Quantity: ${quantity}`"></li>
              <button @click="quantity < product.stock ? quantity += 1: null">
                Increment
              </button>
              <button @click="quantity > 1 ? quantity -= 1: null">
                Decrement
              </button>
              <button @click="addToCart(product, quantity)">Add to Cart</button>
            </ul>
          </template>
        </div>
      </section>
      <section
        x-data="{
        total: 0,
        subtotal: 0,
        tax: 0.1,
        calculateTotal() {
          this.subtotal = cart.map(item => item.price_cents * item.quantity).reduce((a, b) => a + b, 0)

          this.total = this.subtotal * this.tax + this.subtotal
        },
        orderErrs: {},
        placeOrder() {
          fetch('/api/checkout/place-order/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
          }).then(res => res.json()).then(res => {
            this.orderErrs = res
          })
        }
      }"
        x-init="$watch('cart', value => calculateTotal())"
      >
        <h1>Cart</h1>
        <template x-for="cartItem in cart" :key="cartItem.id">
          <ul>
            <li x-text="`Title: ${cartItem.title}`"></li>
            <li x-text="`Price (in cents): ${cartItem.price_cents}`"></li>
            <li x-text="`Quantity: ${cartItem.quantity}`"></li>
            <li
              x-text="`Item total (in cents): ${cartItem.quantity * cartItem.price_cents}`"
            ></li>
            <button
              @click="cart = cart.filter(item => item.id !== cartItem.id)"
            >
              Remove
            </button>
          </ul>
        </template>
        <h2>Subtotal (in cents):</h2>
        <p x-text="subtotal"></p>
        <h2>Tax:</h2>
        <p x-text="tax"></p>
        <h2>Total:</h2>
        <p x-text="total"></p>
        <p x-text="JSON.stringify(orderErrs)"></p>
        <button @click="placeOrder()">Place Order</button>
      </section>
    </main>
  </body>
  <script src="//unpkg.com/alpinejs" defer></script>
</html>
