<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microservices</title>
  </head>
  <body>
    <h1>Product Order</h1>
    <div
      x-data="{ products: [], cart: [], }"
      x-init="products = await (await fetch('/api/checkout/demo-products/')).json()"
    >
      <template x-for="product in products" :key="product.id">
        <ul x-data="{stock: 1}">
          <li x-text="product.title"></li>
          <li x-text="product.price_cents"></li>
          <button
            @click="cart.push({product_id: product.id, product_quantity: stock})"
          >
            Add to Cart
          </button>
        </ul>
      </template>
      <pre x-text="JSON.stringify(cart, null, 2)"></pre>
    </div>
  </body>
  <script src="//unpkg.com/alpinejs" defer></script>
</html>
