<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
  </head>
  <body>
    <h1>Payment redirect</h1>

    <div
      x-data="{ 
          payment_intent: new URLSearchParams(window.location.search).get('payment_intent') || '',
          redirect_status: new URLSearchParams(window.location.search).get('redirect_status') || ''
      }"
    >
      <p x-text="`Payment status: ${redirect_status}`"></p>
      <p x-text="`For Payment ID: ${payment_intent}`"></p>
    </div>
  </body>
  <script src="//unpkg.com/alpinejs" defer></script>
</html>
